.two-collapse {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-bottom: 20px;
}

.two-collapse .collapse-title {
    font-size: 18px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .two-collapse {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
    }

}