.gallery {
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 50px;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 55px;
	grid-row-gap: 55px;
	justify-content:space-between;
    padding-top: 55px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    box-sizing: border-box;
}